

#main-content{
	background-color: white;
	width: 960px;
	margin: 0 auto;
	padding-top: 1em;
	padding-left: 1em;

}

#comic_title, p.main-text{
	margin-bottom: 0.5em;
}

#results, #results-ch, {
	box-sizing: border-box;
	margin: 0 auto;
}
#results-ch_info{
	width: 50%;
	margin: 4em auto;
	border: 1px solid #e6e6e6;
	padding: 2em;
	border-radius: 10px;

}

.images, 
.imagesCh, 
.imagesCh_comic{
	margin: 0.8em;
	float: left;
	width: 400px;
	border: 1px solid #e6e6e6;
	padding: 0.5em;
	border-radius: 10px;
}
.images{
	height: 700px; 
}

.imagesCh{
	height: 550px;
}

.imagesCh_comic{
	height: 300px;
	width: 250px;
}

.main-img, .imgCh_comic{
	margin-left: 3em;
	margin-top: 1em;
	margin-bottom: 0.8em;
}

.imgCh_comic{
	margin-left: 1.5em;
}

.character_img{
	margin: 1em 5.5em;
}
a:link{
	color: black;
}

a:hover{
	color: #A21304;
}

p.descript, {
width: 300px;

}

div#results-info, div#results-info-ch{
	clear:both;
	float: none;

}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
}

input{
	padding: 6px 12px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	font-size: 14px;
 	font-weight: normal;
}

.form-group{
	margin: 2em 0.5em 2em 1em;
	margin-bottom: 2em;

}
/** ------------------ LOW RESOLUTION ---------------------- **/



@media (max-width:480px){
  

#main-content{
	width: 100%;
}   


div.images, div.imagesCh{

	float: none;
	display: block;
	height: 400px;
	width: 300px;
}


.main-img{
	height: 350px;
}




    }